:root {
    --color1: #3f3f3f;
    --color2: #121212;
    --color3: #1c1c1c;
    --color4: #000000;
    --color5: chocolate;

    --card-width: 250px;
    --card-height: 350px;
    --card-border-space: 12px;
    --card-art-height: 125px;
    --card-corner-roundness: 15px;
    --card-description-border-space: 4px;
    --card-type-caption-border-space: 5px;
    --card-inner-corner-roundness: 4px;
    --card-background-art: none;
    --card-background-color: #a52a2a;
    --card-icon-attributes-background-color: chocolate;
    --card-containers-background-color: #fff8dc;
    --card-art: url(https://www.bhmpics.com/downloads/madao-Wallpapers/8.madao_gintama_minimalist_by_dark8651_daeqi3i-pre.jpg);
    --card-title-container-border-space: 3px;
    --card-side-attributes-display: flex;
    --card-mid-attributes-display: flex;
    --card-art-zoom: 226px;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    color: beige;
}

/* --------------------------------------------------------------------------------------------- */
header {
    position: sticky;
    padding: 16px;
    background-color: var(--color3);
    top: 0;
    z-index: 4;
}

header>h1 {
    display: flex;
    justify-content: center;

}

/* --------------------------------------------------------------------------------------------- */
aside {
    padding: 16px;
    height: calc(100vh - 32px - 36px - 32px);
    width: 320px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--color2);
    box-shadow: 5px 5px 30px black;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: hsl(from var(--color2) h s calc(l*1.5)) hsl(from var(--color2) h s calc(l*0.7));
    z-index: 2;
}

aside>h2 {
    font-size: 14pt;
}

aside form,
#new-attribute-field {
    display: flex;
    flex-direction: column;
}

aside form>menu>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside form>menu>li>label {
    margin-right: 8px;
    word-wrap: break-word;
    width: 100px;
}

aside form>menu>li>label.img-input-button {
    width: 220px;
}

aside input.text-inputs {
    margin: 8px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(210, 105, 30, 0);
    background-color: var(--color3);
    padding: 0 8px;
    height: 24px;
    font-size: 12pt;
    transition: border-color 400ms;
    outline: none;
}

aside input.text-inputs:focus-visible {
    border-color: var(--color5);
    transition: border-color 200ms;
}

aside form label.img-input-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8px 0;
    border-style: solid;
    border-radius: 16px;
    border-color: rgba(210, 105, 30, 0);
    background-color: var(--color3);
    padding: 4px 8px;
    font-size: 12pt;
    transition: all 500ms;
    outline: none;
}

aside form label.img-input-button:hover {
    transition: all 100ms;
    background-color: rgb(91, 91, 91);
}

aside form label.img-input-button:active {
    transition: all 100ms;
    background-color: rgb(14, 14, 14);
}

aside form input.img-input {
    display: none;
}

aside form>.submit-button {
    font-weight: bolder;
    background-color: var(--color5);
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    transition: background-color 500ms;
    margin-top: 8px;
    margin-bottom: 8px;
}

aside form>.submit-button:hover {
    background-color: hsl(from var(--color5) h calc(s*1.1) calc(l*1.3));
    transition: background-color 100ms;
}

aside form>.submit-button:active {
    background-color: hsl(from var(--color5) h calc(s*1.1) calc(l*0.7));
    transition: background-color 100ms;
}

/* --------------------------------------------------------------------------------------------- */

aside#deck-style-editor {
    background-color: var(--color4);
    transform: translateX(354px);
    box-shadow: none;
    overflow: visible;
    transition: all 400ms;
    border: solid 2px #ffffff00;
    border-right: none;
    border-top: none;
    border-bottom: none;
    z-index: 3;
}

#editor-switch-checkbox-label {
    position: absolute;
    right: 352px;
    top: 74px;
    width: 48px;
    padding: 9px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: var(--color4);
    border: solid 2px #ffffff00;
    border-right: none;
    transition: all 400ms;
    z-index: 4;
}

#editor-switch-checkbox-label:hover,
#editor-switch-checkbox-label:hover+aside#deck-style-editor {
    border-color: white;
    transition: all 400ms;
}

#editor-switch-checkbox-label:active,
#editor-switch-checkbox-label:active+aside#deck-style-editor {
    background-color: #171717;
    transition: all 100ms;
}


aside#deck-style-editor>#editor-switch>label {
    color: white;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: -2px;
}

aside#deck-style-editor>#editor-switch>#editor-switch-checkbox {
    display: none;
}

input[type="checkbox"]#editor-switch-checkbox+label {
    cursor: pointer;
}

input[type="checkbox"]#editor-switch-checkbox:checked+label+#deck-style-editor {
    transform: translateX(0px);
}


input[type="color"] {
    width: 35px;
    height: 35px;
    clip-path: circle(12px);
}

aside form#deck-style>#deck-style-inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

aside form#deck-style>#deck-style-inputs>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color3);
    border-radius: 15px;
    padding: 8px 20px;
    margin: 10px 5px;
    width: min-content;
}

aside form#deck-style>#deck-style-inputs>li>label {
    width: max-content;
}

/* --------------------------------------------------------------------------------------------- */
#attribute-creator>form#new-attribute-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 0px;
}

#attribute-creator>form#new-attribute-options>input {
    display: none;
}

#attribute-creator>form#new-attribute-options input[type="radio"]+label {
    transition: all 300ms;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#attribute-creator>form#new-attribute-options input[type="radio"]:checked+label {
    transition: all 300ms;
    border-color: rgb(255, 255, 255);
    transform: scale(1.5, 1.5);
}

/* --------------------------------------------------------------------------------------------- */
main {
    /* width: calc(100vw -340px); */
    min-height: calc(100vh - 32px - 2.226em);
    background-color: var(--color1);

}

#deck {

    display: grid;
    gap: 15px;
    grid-auto-rows: var(--card-height);
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    background-color: var(--color1);
    padding: 20px;
    width: calc(100vw - 320px - 10px * 4);

}

article {
    color: black;
    height: var(--card-height);
    width: var(--card-width);
    border-radius: var(--card-corner-roundness);
    background-color: var(--card-background-color);
    background-image: var(--card-background-art);
    background-size: cover;
    box-shadow: 0px 0px 15px -1px black;
    background-position: center center;
    background-size: cover;
}

article#template-card {
    border-style: none;
    border-color: white;
    border-collapse: separate;
    box-shadow: 0px 0px 15px 0px white;

}

article>.card-contents {
    padding: var(--card-border-space);
    position: relative;
    height: calc(var(--card-height) - var(--card-border-space) * 2);
}

article>.card-contents p {
    color: black;
    word-break: break-word;
}

article>.card-contents>#card-title-container {
    position: relative;
    background-color: var(--card-containers-background-color);
    border-radius: var(--card-inner-corner-roundness);
    padding-top: var(--card-title-container-border-space);
    padding-bottom: var(--card-title-container-border-space);
    z-index: 1;
}

article>.card-contents>section>p#card-title {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    text-align: center;
}

article>.card-contents>section>p#card-subtitle {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    text-align: center;
}

article>.card-contents ul.card-list-attributes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article>.card-contents p#card-description {
    display: flex;
    justify-content: start;
    font-size: 11pt;
}

article>.card-contents>#card-side-attributes-container {
    position: relative;
    z-index: 1;
}

article>.card-contents>#card-side-attributes-container>#card-side-attributes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--card-icon-attributes-background-color);
    border-radius: var(--card-inner-corner-roundness);
    width: min-content;
    height: max-content;
    padding: 4px 4px;
    right: 0;
}

article>.card-contents>#card-mid-attributes-container {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

article>.card-contents>#card-mid-attributes-container>#card-mid-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--card-icon-attributes-background-color);
    border-radius: var(--card-inner-corner-roundness);
    height: min-content;
    width: min-content;
    padding: 5px 5px;
}

article>.card-contents>#card-mid-attributes-container>#card-mid-attributes>li {
    margin: 0px 8px;
}

article>.card-contents>section>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
}


article>.card-contents>#card-art-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: var(--card-art-height);
    width: calc(var(--card-width) - var(--card-border-space)*2);
    overflow: hidden;
    z-index: 0;
}

article>.card-contents>#card-art-container>img {
    width: var(--card-art-zoom);
    border-radius: var(--card-inner-corner-roundness);
    object-fit: cover;
    object-position: center;

}

article>.card-contents #card-type,
article>.card-contents #card-caption {
    display: flex;
    justify-content: center;
    padding: var(--card-type-caption-border-space);
}

article>.card-contents>#card-caption-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--card-containers-background-color);
    border-radius: var(--card-inner-corner-roundness);
    margin: 0px 0px 4px 0px;
    z-index: 1;

}

article>.card-contents>#card-type-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: calc(var(--card-border-space) - var(--card-type-caption-border-space));
    width: calc(var(--card-width) - var(--card-border-space) * 2);
    background-color: var(--card-containers-background-color);
    border-radius: var(--card-inner-corner-roundness);
    z-index: 1;

}

article>.card-contents>#card-description-container {
    position: relative;
    padding: var(--card-description-border-space);
    background-color: var(--card-containers-background-color);
    border-radius: var(--card-inner-corner-roundness);
    z-index: 1;
}

article>.card-contents>#card-description-container>p {
    font-size: 11pt;
}

.card-field,
.card-listed-attribute>label {
    color: black;
}