:root {
    --color1: #3f3f3f;
    --color2: #121212;
    --color3: #1c1c1c;
    --color4: #000000;
    --color5: chocolate;

    --card-width: 250px;
    --card-height: 350px;
    --card-border-space: 12px;
    --card-art-height: 125px;
    --card-corner-roundness: 15px;
    --art-is-background: true;

    --card-description-border-space: 4px;
    --card-type-caption-border-space: 5px;
    --card-inner-corner-roundness: 4px;

    --card-background-color: #a52a2a;
    --card-background-art: none;
    --card-background-art-fit: cover;

    --card-side-icons-color: #d2691e;
    --card-side-icons-art: '';
    --card-side-icons-art-fit: 100% 100%;
    --card-side-icons-side: none;

    --card-mid-icons-color: chocolate;
    --card-mid-icons-art: '';
    --card-mid-icons-art-fit: 100% 100%;

    --card-containers-color: #fff8dc;
    --card-containers-art: none;
    --card-containers-art-fit: 100% 100%;

    --card-title-container-color: #fff8dc;
    --card-title-container-art: '';
    --card-title-container-art-fit: 100% 100%;

    --card-caption-container-color: #fff8dc;
    --card-caption-container-art: '';
    --card-caption-container-art-fit: 100% 100%;

    --card-description-container-color: #fff8dc;
    --card-description-container-art: '';
    --card-description-container-art-fit: 100% 100%;

    --card-type-container-color: #fff8dc;
    --card-type-container-art: '';
    --card-type-container-art-fit: 100% 100%;

    --card-art: url(https://www.bhmpics.com/downloads/madao-Wallpapers/8.madao_gintama_minimalist_by_dark8651_daeqi3i-pre.jpg);
    --card-title-container-border-space: 3px;
    --card-side-attributes-display: flex;
    --card-mid-attributes-display: flex;
    --card-art-zoom: 226px;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    color: beige;
}

/* --------------------------------------------------------------------------------------------- */
header {
    position: sticky;
    padding: 16px;
    background-color: var(--color3);
    top: 0;
    z-index: 4;
}

header>h1 {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    letter-spacing: 6px;

}

/* --------------------------------------------------------------------------------------------- */
aside {
    padding: 16px;
    height: calc(100vh - 32px - 36px - 32px);
    width: 320px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--color2);
    box-shadow: 5px 5px 30px black;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: hsl(from var(--color2) h s calc(l*1.5)) hsl(from var(--color2) h s calc(l*0.7));
    z-index: 2;
}

aside>h2 {
    font-size: 14pt;
}

aside form,
#new-attribute-field {
    display: flex;
    flex-direction: column;
}

aside form>menu>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside form>menu>li>label {
    margin-right: 8px;
    word-wrap: break-word;
    width: 100px;
}

aside form>menu>li>label.img-input-button {
    width: 220px;
}

aside input.text-inputs {
    margin: 8px 0;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(210, 105, 30, 0);
    background-color: var(--color3);
    padding: 0 8px;
    height: 24px;
    font-size: 12pt;
    transition: border-color 400ms;
    outline: none;
}

aside input.text-inputs:focus-visible {
    border-color: var(--color5);
    transition: border-color 200ms;
}

aside form label.img-input-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8px 0;
    border-style: solid;
    border-radius: 16px;
    border-color: rgba(210, 105, 30, 0);
    background-color: var(--color3);
    padding: 4px 8px;
    font-size: 12pt;
    transition: all 500ms;
    outline: none;
}

aside form label.img-input-button:hover {
    transition: all 100ms;
    background-color: rgb(91, 91, 91);
}

aside form label.img-input-button:active {
    transition: all 100ms;
    background-color: rgb(14, 14, 14);
}

aside form input.img-input {
    display: none;
}

aside form>.submit-button {
    font-weight: bolder;
    background-color: var(--color5);
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    transition: background-color 500ms;
    margin-top: 8px;
    margin-bottom: 8px;
}

aside form>.submit-button:hover {
    background-color: hsl(from var(--color5) h calc(s*1.1) calc(l*1.3));
    transition: background-color 100ms;
}

aside form>.submit-button:active {
    background-color: hsl(from var(--color5) h calc(s*1.1) calc(l*0.7));
    transition: background-color 100ms;
}

/* --------------------------------------------------------------------------------------------- */

aside#deck-style-editor {
    background-color: var(--color4);
    transform: translateX(354px);
    box-shadow: none;
    transition: all 400ms;
    border: solid 2px #ffffff00;
    border-right: none;
    border-top: none;
    border-bottom: none;
    z-index: 3;
}

#editor-switch-checkbox-label {
    position: fixed;
    right: 352px;
    top: 74px;
    width: 48px;
    padding: 9px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: var(--color4);
    border: solid 2px #ffffff00;
    border-right: none;
    transition: all 400ms;
    z-index: 4;
}

#editor-switch-checkbox-label:hover,
#editor-switch-checkbox-label:hover+aside#deck-style-editor {
    border-color: white;
    transition: all 400ms;
}

#editor-switch-checkbox-label:active,
#editor-switch-checkbox-label:active+aside#deck-style-editor {
    background-color: #171717;
    transition: all 100ms;
}


aside#deck-style-editor>#editor-switch>label {
    color: white;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: -2px;
}

aside#deck-style-editor>#editor-switch>#editor-switch-checkbox {
    display: none;
}

input[type="checkbox"]#editor-switch-checkbox+label {
    cursor: pointer;
}

input[type="checkbox"]#editor-switch-checkbox:checked+label+#deck-style-editor {
    transform: translateX(0px);
}


input[type="color"] {
    width: 35px;
    height: 35px;
    clip-path: circle(12px);
    transition: all 300ms;
}

input[type="color"]:hover {
    transition-timing-function: cubic-bezier(.64, .04, .45, 2.04);
    transition-duration: 200ms;
    transform: scale(1.3);
}

input[type="color"]:active {
    transition: all 100ms;
    filter: brightness(.3);
    transform: scale(1.1);
}


aside form#deck-style>#deck-style-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

aside form#deck-style>#deck-style-inputs>li:not(.deck-style-buttons) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color3);
    border-radius: 15px;
    padding: 8px 20px;
    margin: 10px 5px;
    width: min-content;
}

aside form#deck-style>#deck-style-inputs>li.deck-style-buttons {
    margin: 0 0 10px 0;
}

aside form#deck-style>#deck-style-inputs>li>label {
    width: max-content;
}

aside form#deck-style>#deck-style-inputs>li>label.deck-style-file-upload {
    background-color: var(--color1);
    border-radius: 20px;
    padding: 6px;
    padding-bottom: 3px;
    transition: all 300ms;
}

aside form#deck-style>#deck-style-inputs>li>label.deck-style-file-upload:hover {
    background-color: hsl(from var(--color1) h s calc(l*1.3));
    transition: all 100ms;
}

aside form#deck-style>#deck-style-inputs>li>label.deck-style-file-upload:active {
    transition: all 100ms;
    background-color: hsl(from var(--color1) h s calc(l*0.7));
}

aside form#deck-style>#deck-style-inputs>li>label.deck-style-file-upload>img {
    filter: invert(.9);
}

aside form#deck-style>#deck-style-inputs>li>label.deck-style-button {
    background-color: var(--color2);
    border-radius: 10px;
    padding: 10px;
    transition: all 300ms;
}

aside form#deck-style>#deck-style-inputs>li>label.deck-style-button:hover {
    background-color: hsl(from var(--color2) h s calc(l*1.3));
    transition: all 100ms;
}

aside form#deck-style>#deck-style-inputs>li>label.deck-style-button:active {
    transition: all 100ms;
    background-color: hsl(from var(--color1) h s calc(l*0.7));
}

/* --------------------------------------------------------------------------------------------- */

aside#file-manager {
    left: 0;
    background-color: hsl(from var(--color3) h s calc(l*.8));;
    transform: translateX(-354px);
    box-shadow: none;
    transition: all 400ms;
    z-index: 3;
    scrollbar-width: none;
}

#file-manager-switch-checkbox-label {
    position: fixed;
    left: 15px;
    top: 8px;
    padding: 9px;
    border-radius: 7px;
    background-color: #ffffff00;
    border-right: none;
    transition: all 400ms;
    z-index: 4;
}

#file-manager-switch-checkbox-label svg {
    filter: invert(.5);
    width: 30px;
    height: 30px;
}

#file-manager-switch-checkbox-label:hover {
    background-color: hsl(from var(--color3) h s calc(l*1.5));;
    transition: all 400ms;
}

#file-manager-switch-checkbox-label:active,
#file-manager-switch-checkbox-label:active+aside#file-manager {
    background-color: #171717;
    transition: all 100ms;
}

aside#file-manager>#file-manager-switch>#file-manager-switch-checkbox {
    display: none;
}

input[type="checkbox"]#file-manager-switch-checkbox+label {
    cursor: pointer;
}

input[type="checkbox"]#file-manager-switch-checkbox:checked+label+#file-manager {
    transform: translateX(0px);
}

aside#file-manager>#file-manager-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-to-default {
    display: none;
}
#reset-to-default-label {
    background-color: #a52a2a;
    padding: 16px;
    border-radius: 7px;
    transition: all 400ms;
}
#reset-to-default-label:hover {
    transition: all 200ms;
    background-color: hsl(from #a52a2a h calc(s*.9) calc(l*1.1))
}
#reset-to-default-label:active {
    transition: all 100ms;
    background-color: hsl(from #a52a2a h calc(s*1.3) calc(l*.7))
}

/* --------------------------------------------------------------------------------------------- */
#attribute-creator>form#new-attribute-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 0px;
}

#attribute-creator>form#new-attribute-options>input {
    display: none;
}

#attribute-creator>form#new-attribute-options input[type="radio"]+label {
    transition: all 300ms;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

#attribute-creator>form#new-attribute-options input[type="radio"]:checked+label {
    transition: all 300ms;
    border-color: rgb(255, 255, 255);
    transform: scale(1.5, 1.5);
}

/* --------------------------------------------------------------------------------------------- */
main {
    /* width: calc(100vw -340px); */
    min-height: calc(100vh - 32px - 2.226em);
    background-color: var(--color1);

}

#deck {

    display: grid;
    gap: 15px;
    justify-items: center;
    grid-auto-rows: var(--card-height);
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    background-color: var(--color1);
    padding: 20px;
    width: calc(100vw - 320px - 20px * 4);
    transition: all 300ms;

}

article {
    color: black;
    height: var(--card-height);
    width: var(--card-width);
    border-radius: var(--card-corner-roundness);
    background-color: var(--card-background-color);
    background-image: var(--card-background-art);
    background-size: var(--card-background-art-fit);
    box-shadow: 0px 0px 15px -1px black;
    background-position: center center;
}

article#template-card {
    border-style: none;
    border-color: white;
    border-collapse: separate;
    box-shadow: 0px 0px 15px 0px white;

}

article>.card-contents {
    padding: var(--card-border-space);
    position: relative;
    height: calc(var(--card-height) - var(--card-border-space) * 2);
}

article>.card-contents p {
    color: black;
    word-break: break-word;
}

article>.card-contents>#card-title-container {
    position: relative;
    background-color: var(--card-containers-color);
    background-image: var(--card-containers-art);
    background-size: var(--card-containers-art-fit);
    border-radius: var(--card-inner-corner-roundness);
    padding-top: var(--card-title-container-border-space);
    padding-bottom: var(--card-title-container-border-space);
    z-index: 1;
}

article>.card-contents>section>p#card-title {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    text-align: center;
}

article>.card-contents>section>p#card-subtitle {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    text-align: center;
}

article>.card-contents ul.card-list-attributes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article>.card-contents p#card-description {
    display: flex;
    justify-content: start;
    font-size: 11pt;
}

article>.card-contents>#card-side-attributes-container {
    position: relative;
    z-index: 1;
}

article>.card-contents>#card-side-attributes-container>#card-side-attributes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--card-side-icons-color);
    background-image: var(--card-side-icons-art);
    background-size: var(--card-side-icons-art-fit);
    border-radius: var(--card-inner-corner-roundness);
    width: min-content;
    height: max-content;
    padding: 4px 4px;
    right: 0;
    left: var(--card-side-icons-side);
}

article>.card-contents>#card-mid-attributes-container {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

article>.card-contents>#card-mid-attributes-container>#card-mid-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--card-mid-icons-color);
    background-image: var(--card-mid-icons-art);
    background-size: var(--card-mid-icons-art-fit);
    border-radius: var(--card-inner-corner-roundness);
    height: min-content;
    width: min-content;
    padding: 5px 5px;
}

article>.card-contents>#card-mid-attributes-container>#card-mid-attributes>li {
    margin: 0px 8px;
}

article>.card-contents>section>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
}


article>.card-contents>#card-art-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: var(--card-art-height);
    width: calc(var(--card-width) - var(--card-border-space)*2);
    overflow: hidden;
    z-index: 0;
}

article>.card-contents>#card-art-container>img {
    width: var(--card-art-zoom);
    border-radius: var(--card-inner-corner-roundness);
    object-fit: cover;
    object-position: center;

}

article>.card-contents #card-type,
article>.card-contents #card-caption {
    display: flex;
    justify-content: center;
    padding: var(--card-type-caption-border-space);
}

article>.card-contents>#card-caption-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--card-containers-color);
    background-image: var(--card-containers-art);
    background-size: var(--card-containers-art-fit);
    border-radius: var(--card-inner-corner-roundness);
    margin: 0px 0px 4px 0px;
    z-index: 1;

}

article>.card-contents>#card-type-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: calc(var(--card-border-space) - var(--card-type-caption-border-space));
    width: calc(var(--card-width) - var(--card-border-space) * 2);
    background-color: var(--card-containers-color);
    background-image: var(--card-containers-art);
    background-size: var(--card-containers-art-fit);
    border-radius: var(--card-inner-corner-roundness);
    z-index: 1;

}

article>.card-contents>#card-description-container {
    position: relative;
    padding: var(--card-description-border-space);
    background-color: var(--card-containers-color);
    background-image: var(--card-containers-art);
    background-size: var(--card-containers-art-fit);
    border-radius: var(--card-inner-corner-roundness);
    z-index: 1;
}

article>.card-contents>#card-description-container>p {
    font-size: 11pt;
}

.card-field,
.card-listed-attribute>label {
    color: black;
}

.card-listed-attribute>.card-field {
    word-break: normal;
}

.card:not(#template-card) .card-contents::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    content: "Remove";
    color: #ffffff00;
    font-size: 28pt;
    background-color: #a52a2a00;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: var(--card-corner-roundness);
    transition: all 200ms;
}

.card:hover:not(#template-card) .card-contents::before {
    transition: all 100ms;
    color: #ffffff;
    background-color: #a52a2ac8;
}